.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    
    
    background-color:hsl(233, 47%, 7%);     /*Main background*/
}

.flex-container div {
    width: 400px;
    text-align: center;
  /*  line-height: 400px;      */
    height: 400px;
    
    
}
div:first-child {
    background: hsl(244, 38%, 16%);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;    
}
    
    
.h1 {
    color:hsl(0,0%,100%);
    font-family: "Inter",sans-serif;
    font-weight: 700;
    line-height: 1.5;
    font-size: 35px; 
    
}

.h2 {
    color:hsl(0.0%,100%);
    font-weight: 400;
    line-height: 110%;
    font-size: 25px;
    font-family: "Inter", sans-serif;
}

.p1 {
    color:hsla(0,0%,100%,0.75);
    font-size: 15px;
    font-family: "LexendDeca",sans-serif;
    font-weight:400;
    line-height: 150%;

}
